

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
    font-family: 'inconsolata';
    src: url('files/inconsolata.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #ffffff;
    margin: 0px;
    font-family: 'inconsolata';
    font-size: 15px;
    overflow: hidden;
}

a {
    color: #2194CE;
    text-decoration: none;
}

h1 {
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: normal;
}

h2 {
    font-size: 20px;
    font-weight: normal;
}

#panel {
    position: absolute;
    width: 310px;
    height: 100%;
    overflow: scroll;
    background: #fafafa;
}

#panel #list {
    padding: 0px 20px;
    line-height: 18px;
}

#panel #list .link {
    color: #2194CE;
    text-decoration: none;
    cursor: pointer;
}

#panel #list .selected {
    color: #ff0000;
}

#panel #list .link:hover {
    text-decoration: underline;
}

#viewer {
    position: absolute;
    left: 310px;
    width: calc(100% - 310px);
    height: 100%;
    border: 0px;
}

#button {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 8px;
    color: #fff;
    background-color: #555;
    opacity: 0.7;
}

#button:hover {
    cursor: pointer;
    opacity: 1;
}
















